// Variables
@import 'variables';

// Bootstrap
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";
@import '~bootstrap/scss/_reboot';
@import '~bootstrap/scss/_grid';
@import '~bootstrap/scss/_buttons';
@import '~bootstrap/scss/_button-group';
@import '~bootstrap/scss/_forms';
@import '~bootstrap/scss/_alert';
@import '~bootstrap/scss/_dropdown';
@import '~bootstrap/scss/utilities/_display';
@import '~bootstrap/scss/utilities/_flex';
@import '~bootstrap/scss/utilities/_spacing';
@import '~bootstrap/scss/_list-group';
@import '~bootstrap/scss/_badge';

// installed packages
@import '~magnific-popup/dist/magnific-popup.css';
@import '~select2/dist/css/select2.min.css';
@import '~malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css';
@import '~nouislider/distribute/nouislider.min.css';
@import '~photoswipe/dist/photoswipe.css';
@import '~photoswipe/dist/default-skin/default-skin.css';
@import '~plyr/dist/plyr.css';
@import '~owl.carousel/dist/assets/owl.carousel.min.css';

.list-group-item {
    background-color: #1a191f;;
    border: 1px solid rgb(255 255 255 / 13%);
}
.list-group-item-action {
    color: #fff;
}

.list-group-item-action:focus, .list-group-item-action:hover {
    color: #ffd80e;
    border-color: #ffd80e;
    background-color: rgba(210,201,255,.04);
}

.notifications {
    color: #ffed4a;
}
